.hero {
    background-color: #f8f8f8;
    background-image: url("../img/hero-bg-desktop.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 700px) calc(50% - 40px);
    padding-bottom: 170px;
}

.hero-name {
    max-width: 394px;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2D314D;
    padding-bottom: 24px;
    padding-top: 170px; 
}

.hero-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: -0.28125px;
    color: #9597A5;
    max-width: 447px;
    padding-bottom: 36px;
}

.request {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 13px 36px 13px 32px;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;    
}

.phones {
    background-image: url("../img/phone1.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 475px) calc(50% - 120px);
}