html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1300px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

}

.header {
    position: fixed;
    z-index: 50;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 0;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #fff;

}

.logo-img {
    display: inline-block;
    vertical-align: baseline;
    margin-top: 8px;
}

.top-link {
    margin-right: 25px;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.nav-item:not(:first-child) {
    margin-left: 30px   ;
}

.nav-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.107692px;
    color: #9597A5;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;
    padding: 14px 0 32px 0;
}

.nav-link::after {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    left: 0;
    content: "";
    height: 4px;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
}

.nav-link:hover::after {
    display: block;
}

.nav-link:hover {
    color: #2D314D;
}

.request-invite {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 8px 36px 8px 32px;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
}

.hero {
    background-color: #fafafa;
    background-image: url("../img/hero-bg-desktop.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 600px) calc(50% - 45px);
    padding: 240px 0;
    background-size: 1391px 1035px;
}

.hero-name {
    max-width: 394px;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2D314D;
    padding-bottom: 24px;
}

.hero-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: -0.28125px;
    color: #9597A5;
    max-width: 447px;
    padding-bottom: 36px;
}

.request {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 13px 36px 13px 32px;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;    
}

.request:hover {
    color: #fff;
    background: linear-gradient(135deg, #bcf2cb 0%, #9ed0dd 99.58%);
}

.request-invite:hover {
    color: #fff;
    background: linear-gradient(135deg, #bcf2cb 0%, #9ed0dd 99.58%);
}

.phone-img-one {
    position: absolute;
    top: -96%;
    right: -24%;
    width: 850px;
    height: 1020px;
}

.second-section {
    background-color:  #F4F5F7;
    width: 100%;
    margin-top: 0;
}

.top-name {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    color: #2D314D;
    padding-top: 96px;
    padding-bottom: 16px;
}

.top-text {
    font-style: normal;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    width: 635px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.28125px;
    color: #9597A5;
}

.service-name {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.428571px;
    color: #2D314D;
    padding-bottom: 26px;
}

.service-name-two {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.428571px;
    color: #2D314D;
    padding-bottom: 26px;
}

.service-name-three {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.428571px;
    color: #2D314D;
    padding-bottom: 26px;
}

.service-name-four {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.428571px;
    color: #2D314D;
    padding-bottom: 26px;
}

.service-name::before {
    content: "";
    width: 72px;
    height: 72px;
    display: block;
    background-image: url("../img/service-one.svg");
    margin-top: 72px;
    margin-bottom: 40px;
}

.service-name-two::before {
    content: "";
    width: 72px;
    height: 72px;
    display: block;
    background-image: url("../img/service-two.svg");
    margin-top: 72px;
    margin-bottom: 40px;
}

.service-name-three::before {
    content: "";
    width: 72px;
    height: 72px;
    display: block;
    background-image: url("../img/service-three.svg");
    margin-top: 72px;
    margin-bottom: 40px;
}

.service-name-four::before {
    content: "";
    width: 72px;
    height: 72px;
    display: block;
    background-image: url("../img/service-four.svg");
    margin-top: 72px;
    margin-bottom: 40px;
}

.service-text {
    font-style: normal;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    width: 255px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #9597A5;
}

.services {
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
}

.third-section {
    background-color: #f2f2f2;
}

.items {
    width: 255px;
    background-color: #fff;
    border-radius: 5px;
}

.items:not(:last-child) {
    margin-right: 55px;
}

.name {
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 80px;
    padding-bottom: 40px;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.714286px;
    color: #2D314D;
}

.article-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    padding-bottom: 80px;
}

.links {
    text-decoration: none;
}

.author-name {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.15625px;
    color: #9597A5;
    padding-left: 24px;
}

.img {
    padding-bottom: 25px;
}

.theme {
    width: 207px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 8px;
    padding-left: 24px;
    font-style: normal;
    font-weight: 100;
    padding-top: 8px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.285714px;
    color: #2D314D;
}

.theme:hover {
    color: #30C88F;
}

.ideas {
    margin: 0;
    padding-left: 24px;
    max-width: 207px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.203125px;
    color: #9597A5;
    padding-bottom: 24px;
}

.footer {
    background-color: #2D314D;
    padding: 48px 0;
}

.footer-part {
    display: flex;
}

.icons {
    margin-top: 50px;
}

.social-media:not(:last-child) {
    margin-right: 13px;
}

.social-media:hover path {
    fill: #30C88F;
}

.footer-nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 131px;
    justify-content: space-between;
}

.footer-item {
    padding-bottom: 8px;
    padding-top: 5px;
    width: 50%;
}

.footer-link {
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    color: #FFFFFF;
}

.footer-link:hover {
    color: #30C88F;
}

.footer-right {
    margin-top: 10px;
    display: inline-block;
    text-align: right;
    margin-left: auto;
}

.bottom {
    margin: 0;
    padding-top: 24px;
}




@media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 

}